@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@function darken($color, $amount) {
  @return mix(black, $color, $amount);
}

@function lighten($color, $amount) {
  @return mix(white, $color, $amount);
}

$base-color-1: #f44336;
$base-color-2: #2196f3;
$base-color-3: #4caf50;

html {
  font-family: "Poppins", sans-serif;
}

.container-1,
.container-2,
.container-3 {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 0.5rem;
}

.box {
  padding: 1.4rem 0.4rem;
  margin: 0.1rem;
  border-radius: 4px;
  font-weight: 400;
}

.container-1 {
  .box {
    color: rgb(74, 179, 214);
  }
  .darken-4 {
    background-color: darken($base-color-1, 40%);
  }
  .darken-3 {
    background-color: darken($base-color-1, 30%);
  }
  .darken-2 {
    background-color: darken($base-color-1, 20%);
  }
  .darken-1 {
    background-color: darken($base-color-1, 10%);
  }
  .base-color {
    background-color: $base-color-1;
    color: #fff;
  }
  .lighten-1 {
    background-color: lighten($base-color-1, 10%);
  }
  .lighten-2 {
    background-color: lighten($base-color-1, 20%);
  }
  .lighten-3 {
    background-color: lighten($base-color-1, 30%);
  }
  .lighten-4 {
    background-color: lighten($base-color-1, 40%);
  }
}

.container-2 {
  .box {
    color: rgb(169, 169, 32);
  }
  .darken-4 {
    background-color: darken($base-color-2, 40%);
  }
  .darken-3 {
    background-color: darken($base-color-2, 30%);
  }
  .darken-2 {
    background-color: darken($base-color-2, 20%);
  }
  .darken-1 {
    background-color: darken($base-color-2, 10%);
  }
  .base-color {
    background-color: $base-color-2;
    color: #fff;
  }
  .lighten-1 {
    background-color: lighten($base-color-2, 10%);
  }
  .lighten-2 {
    background-color: lighten($base-color-2, 20%);
  }
  .lighten-3 {
    background-color: lighten($base-color-2, 30%);
  }
  .lighten-4 {
    background-color: lighten($base-color-2, 40%);
  }
}

.container-3 {
  .box {
    color: rgb(101, 19, 101);
  }
  .darken-4 {
    background-color: darken($base-color-3, 40%);
  }
  .darken-3 {
    background-color: darken($base-color-3, 30%);
  }
  .darken-2 {
    background-color: darken($base-color-3, 20%);
  }
  .darken-1 {
    background-color: darken($base-color-3, 10%);
  }
  .base-color {
    background-color: $base-color-3;
    color: #fff;
  }
  .lighten-1 {
    background-color: lighten($base-color-3, 10%);
  }
  .lighten-2 {
    background-color: lighten($base-color-3, 20%);
  }
  .lighten-3 {
    background-color: lighten($base-color-3, 30%);
  }
  .lighten-4 {
    background-color: lighten($base-color-3, 40%);
  }
}
